---
layout: default
title: Getting started
slug: getting-started
lead: "An overview of the new diazo theme"
base_url: "../../"
---
<div class="app-page" id="content">
  <div class="app-showroom">
    <div class="app-page-cards">
            <div class="app-page-section app-page-section-inverse app-gutter">
                    <div class="app-page-col app-page-col-main">
                      <div class="app-project-panel lazyload"
                        data-bg="{{ page.base_url }}assets/img/01.jpg">
                        <!--<a class="app-project-panel-media"
                           href="#content">
                           <img class="app-image lazyload"
                             src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                             data-sizes="auto"
                             data-src="{{ page.base_url }}assets/img/01.jpg" />
                            <div class="app-project-panel-overlay">
                                <h4 class="card-title">${item/Title}</h4>
                                <p class="card-text">${item/Description}</p>
                            </div>
                          </a>-->
                        </div>
                    </div>
                    <div class="app-page-col app-page-col-aside">
                      <div class="app-project-panel">
                        <!--<a class="app-project-panel-media"
                           href="#content">
                           <img class="app-image lazyload"
                             src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                             data-sizes="auto"
                             data-src="{{ page.base_url }}assets/img/01.jpg" />
                            <div class="app-project-panel-overlay">
                                <h4 class="card-title">${item/Title}</h4>
                                <p class="card-text">${item/Description}</p>
                            </div>
                          </a>-->
                        </div>
                    </div>
            </div>
    </div>
  </div>
</div>
