---
layout: frontpage
title: Getting started
slug: getting-started
lead: "An overview of the new diazo theme"
base_url: "../"
---

<div class="app-fp-wrapper">
  <div class="app-fp-block white">
    <div class="app-fp-block-content">
    {% include logo-white.html %}
    <div class="app-fp-heading">
      <i class="fa fa-angle-left"></i> Raum
    </div>
    </div>
    </div>
    <div class="app-fp-block black">
      <div class="app-fp-block-content">
      {% include logo-black.html %}
    <div class="app-fp-heading">
      Light <i class="fa fa-angle-right"></i>
    </div>
    </div>
    </div>
</div>
