//
// Gallery
// ---------------------------------------------------

.app-gallery {
    height: 100vh;
}

.project-gallery {
    position: relative;
}

.app-gallery-caption {
  width: 100%;

   @media (min-width: $screen-md-min) {
        position: absolute;
        top: 2rem;
        left: 4rem;
        z-index: 1001;
        width: 35%;
        padding: 4rem 2rem 2rem 2rem;
        background: $app-primary;
    }
}

.section-licht .app-gallery-caption {
    background: #fff;
    padding: 4rem 2rem 2rem 2rem;
}

.app-gallery-cell {
    width: 100%;
    @media (min-width: $screen-lg-min) {
        height: 100vh;
        // @extend .ratio-container;
    }
}

.app-gallery-thumbs {
    //border: 0px solid red;
    padding: $line-height-computed / 2;
}

.app-thumbnails {
  //display: flex;
}

.app-thumbnail {
  //flex: 0 0 33.3333%;
  display: inline-block;
  padding: $line-height-computed / 3;
}

// Thumbnail trigger
.js-thumbtrigger {
    cursor: pointer;
}

/* ---- flickity overrides ---- */

.flickity-prev-next-button {
  background: transparent;
}

.flickity-prev-next-button .arrow {
  fill: #fff;
}

.flickity-prev-next-button:hover {
    background: none;
}

.flickity-page-dots {
    bottom: 40px !important;
}

.flickity-page-dots .dot {
    background: #fff;
}
