//
// Gallery
// ---------------------------------------------------

.app-gallery {
    height: 100vh;
}

.project-gallery {
    position: relative;
}

.app-gallery-caption {
    @media (min-width: $grid-float-breakpoint) {
        position: absolute;
        top: 2rem;
        left: 4rem;
        z-index: 1001;
        width: 25%;
        padding: 1rem;
        background: $gray-dark;
    }
}

.section-licht .app-gallery-caption {
    background: #fff;
}

.app-gallery-cell {
    width: 100%;
    @media (min-width: $grid-float-breakpoint) {
        height: 100vh;
        // @extend .ratio-container;
    }
}

/* ---- flickity overrides ---- */

.flickity-prev-next-button {
  background: transparent;
}

.flickity-prev-next-button .arrow {
  fill: #fff;
}

.flickity-prev-next-button:hover { 
    background: none; 
}

.flickity-page-dots {
    bottom: 100px !important;
}

.flickity-page-dots .dot {
    background: #fff;
}