<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="p:domain_verify" content="a1eeb3ed6306103f0e619cb0cbfd2e7e">
<title>
    {{ page.title }} &middot; AHA360
</title>
<script>
    window.lazySizesConfig = window.lazySizesConfig || {};
    window.lazySizesConfig.lazyClass = 'lazy-load';
    window.lazySizesConfig.loadedClass = 'image--loaded';
</script>
<!-- inject:css -->
<!-- endinject -->
<link rel="apple-touch-icon" sizes="x" href="/apple-touch-icon.png?v=iet7OjeChoz1">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=iet7OjeChoz1">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=iet7OjeChoz1">
<link rel="manifest" href="/site.webmanifest?v=iet7OjeChoz1">
<link rel="mask-icon" href="/safari-pinned-tab.svg?v=iet7OjeChoz1" color="#5bbad5">
<link rel="shortcut icon" href="/favicon.ico?v=iet7OjeChoz1">
<meta name="msapplication-TileColor" content="#2d89ef">
<meta name="theme-color" content="#ffffff">