---
layout: default
title: Getting started
slug: getting-started
lead: "An overview of the new diazo theme"
base_url: "../"
---
<div class="app-page app-page-frontpage" id="content">
    <div class="app-page-content app-frontpage-content">
        <div class="app-frontpage-card app-frontpage-card-inverse">
            <a class="app-frontpage-section app-frontpage-section-inverse" href="{{page.base_url}}theme-inverse">
                <div class="app-frontpage-block">
                    <div class="app-brand-img">
                        {% include components/logo-inverse.html %}
                    </div>
                </div>
                <div class="app-frontpage-action">
                    <span class="hidden-xs">&lt; </span>Raum <span class="visible-xs-inline-block">&gt;</span>
                </div>
            </a>
        </div>
        <div class="app-frontpage-card">
            <a class="app-frontpage-section" href="{{page.base_url}}theme">
                <div class="app-frontpage-block">
                    <div class="app-brand-img">
                        {% include components/logo.html %}
                    </div>
                </div>
                <div class="app-frontpage-action">
                    Licht &gt;
                </div>
            </a>
        </div>
    </div>
</div>
