//
// Content page
// ----------------------------------------

//== Page styles
//
//## Define content specific styles
.app-page {
    position: relative;
    min-height: 100vh;
    &.app-page-frontpage {
        padding-top: 0;
        padding-bottom: 0;
    }
    @media (min-width: $grid-float-breakpoint) {
        &-frontpage {
            padding-left: 0;
        }
    }
}

//== Fullscreen background gallery
//
//## Add full page gallery and layer page contents
.app-page-content {
    z-index: 1051;
    padding-left: 1.5rem;
}

.app-page-frontpage .app-page-content {
    padding-left: 0;
}

// Make content body visible
.app-theme-content {
    padding: 1rem;
    @media (min-width: $grid-float-breakpoint) {
        position: absolute;
        top: 2em;
        left: 2em;
        width: 33.3333%;
        background: #fff;
        .app-main-inverse & {
            right: 2em;
            background: $gray-dark;
        }
    }
}

.app-page-gallery {
    height: 100%;
    width: 100%;
}


//== Page content
//
//## Text body layout and styling

.app-page-header {
    display: none;
}

.app-page-title {
    text-transform: uppercase;
    font-size: 1rem;
    color: #808080;
    letter-spacing: 2px;
    .app-page-headline {
        font-size: 1rem;
        color: #808080;
        letter-spacing: 2px;
    }
}


// Use custom lead element for page desciptions
// that has proper line-height on all media types
.app-page-lead,
.app-page-abstract {
    margin-bottom: $line-height-computed;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.5;
    @media (min-width: $screen-sm-min) {
        font-size: 1rem;
    }
}

.app-page-body {
    font-size: 1rem;
}


//== Page section
//
//## Container providing visual separation
.app-page-section {
    margin: 1rem 0 3rem;
    border: 0px solid red;
}

//== Responsive image
//
//## Class to resize standalone images based
//## on viewport sizes
.app-image {
    @media (max-width: $grid-float-breakpoint) {
        @extend .img-responsive;
    }
}

.image-inline {
    @media (max-width: $grid-float-breakpoint) {
        @extend .img-responsive;
    }
}

//== Content grid
//
//## Flexbox based grid classes
.app-page-section {
    @media (min-width: $grid-float-breakpoint) {
        display: flex;
        flex-wrap: row wrap;
        &-inverse {
            flex-direction: row-reverse;
        }
    }
}

.section-licht .app-page-col {
    padding: $line-height-computed;
    @media (min-width: $grid-float-breakpoint) {
        flex: 1;
        &-main {
            flex: 0 1 60%;
            padding: $line-height-computed;
        }
        &-aside {
            flex: 0 1 40%;
        }
    }
}

.section-raum .app-page-col {
    padding: $line-height-computed;
    @media (min-width: $grid-float-breakpoint) {
        flex: 1;
        &-main {
            flex: 0 1 60%;
        }
        &-aside {
            flex: 0 1 40%;
            padding: $line-height-computed;
        }
    }
}



.app-page-col-header {
    text-transform: uppercase;
}


// Gutter modifier class
//
// Add spacing to grid cells
.app-gutters {
  margin: -1rem 0 1rem -1rem;
}
.app-gutters > .app-page-col {
  padding: 1em 0 1rem 1em;
}

// Column masonry support
// NOTE: not available in IE9 and below
.app-page-masonry {
  columns-count: 2;
  column-gap: 1rem;
  .app-page-column {
    display: inline-block;
    width: 100%;
  }
}

.app-project-panel {
    border: 1px solid red;
}

// Project panel links
.app-project-panel-media {
    display: inline;
    color: $gray-darker;
    border: 1px solid blue;
    @include when-inside('.app-main-inverse') {
      color: $gray-lighter;
    }
    background-size: contain;
    &:hover > .app-project-panel-overlay {
      opacity: 1;
    }
}

.app-project-panel-overlay {
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
    padding: 1.25rem;
    opacity: 0;
    background: rgba(0, 0, 0, .75);
    @media  (min-width: $grid-float-breakpoint) {
      width: 50%;
    }
}

// Tabnavigation for paroject content
.app-project-tabs {
  text-align: right;
  list-style: none;
  text-transform: uppercase;
}

.app-project-tab {
  display: inline-block;
  > a {
    color: #fff;
  }
}
