<!doctype html>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {% include head.html %}
  </head>
  <body class="room dim-in dim-in-4">
    <a href="#content" class="sr-only sr-only-focusable">Skip to main content</a>
    {% include toolbar.html %}
    <!-- App master nav -->
    <div class="app-wrapper">
    <div class="app-aside">
    <div class="logo">
    <a href="/">
    {% include logo-white.html %}
    </a>
    </div>
    <div class="aap-navbar-wrapper">
    {% include navbar.html %}
    </div>
    </div>

    <div class="app-content" role="main">
          {{ content }}
    </div>

    {% include javascript.html %}
    <div class="app-js-slot">
        {% include webfonts.html %}
    </div>
    </div>
  </body>
</html>