/* Taz-SemiLight & Taz-SemiBold */

@font-face {
     font-family: 'FFDINWebProLight';
     src: url('../assets/fonts/2F5109_1_0.woff2') format('woff2'),
          url('../assets/fonts/2F5109_1_0.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'FFDINWebProBold';
     src: url('../assets/fonts/2F5109_0_0.woff2') format('woff2'),
          url('../assets/fonts/2F5109_0_0.woff') format('woff');
     font-weight: normal;
     font-style: bold;
}
