//
// Application stylesheet
// -----------------------------------------------

// Add fullscreen layout suppert via body class
.app-fullscreen {
    min-height: 100vh;
    @media (min-width: @screen-sm-min) {
        display: flex;
        fley-directioon: column;
    }
    &.app-inverse {
        background: @gray-dark;
        color: @gray-lighter;
    }
}
// Switch background color based on body classes



.app-aside,
.app-content {
    height: 100%;
    min-height: 100%;
    min-height: 100vh;
}

.app-aside {
    @media (min-width: @screen-sm-min) {
        flex: 0 0 12em;
    }
}

.app-content {
    @media (min-width: @screen-sm-min) {
        flex: 1;
    }
}

.light, .room {
  .logo {
    padding: @line-height-computed;
    @media (min-width: @screen-sm-min) {
    padding: 0;
    }
  }
}

//.app-wrapper {
//  .container-fluid();
//  padding-top: 0px;
//  padding-right: 0px;
//  padding-bottom: 0px;
//  padding-left: 0px;
//  height: 100%;
//}
//
//.app-aside {
//  @media (min-width: @screen-sm-min) {
//    .make-md-column(3);
//    height: 100%;
//    padding: @line-height-computed !important;
//  }
//}
//
//.room .app-aside {
//  background: #000;
//  @media (min-width: @screen-sm-min) {
//    .make-md-column(3);
//    height: 100%;
//    padding: @line-height-computed !important;
//  }
//}
//
//.app-content {
//  @media (min-width: @screen-sm-min) {
//    .make-md-column(9);
//  }
//}



//== Page blocks
//
//## Seperate content sections into blocks
.app-page-block {
  @media (min-width: @screen-sm-min) {
    display: flex;
    flex-wrap: wrap;
    background: transparent;
    height: 100%;
  }
}

.app-page-block-content {
	.center-block();
  flex: 1;
  border: 0 solid red;
  font-size: 0.8rem;
  height: 100%;

  h3 {
    font-size: 0.8rem;
  }
}

//== Flexbox rows
.flexbox .app-page-row {
  margin: -1em 0 0 -1em;
  display: flex;
  flex-wrap: wrap;
}

.flexbox .app-page-column {
  padding: 1em 0 0 1em;
  display: flex;
  @media (min-width: @screen-sm-min) {
    width:50%;
  }
  @media (min-width: @screen-md-min) {
    width:33.3333%;
  }
  }
