//
// Header
// ------------------------------------------


.app-header {
  border-bottom: 1px solid $gray-dark;
  @media (min-width: $grid-float-breakpoint-max) {
    padding-left: $line-height-computed;
    padding-bottom: 1rem;
    border-bottom: none;
  }
}

.app-header-content {
  @media (min-width: $grid-float-breakpoint) {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
  }
}

.app-header-panel {
  flex: 1;
}

//== Adjust grid cell sizes
//
//## Starting from the grid breakpoint the header
//## should display in the standard 2:1 ratio
@media (min-width: $grid-float-breakpoint-max) {
  .app-header-brandbar {
    flex: 0 0 66.6666%;
  }
  .app-header-actionbar {
    flex: 0 0 33.3333%;
  }
  .app-header-navbar {
    align-self: flex-end;
  }
}
