//
// Header
// ------------------------------------------


.app-header {
  @media (min-width: $grid-float-breakpoint-max) {
    padding: $line-height-computed;
    border-bottom: none;
  }
}

.app-header-content {
  @media (min-width: $grid-float-breakpoint) {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 100vh;
  }
}

.app-header-panel {
  flex: 1;
}
