//
// Header
// ------------------------------------------


.app-header {
  @media (min-width: $grid-float-breakpoint-max) {
    display: flex;
    flex-direction: row;
    padding: $line-height-computed $line-height-computed 0 $line-height-computed;
    border-bottom: none;
  }
}

.app-header-content {
  @media (min-width: $grid-float-breakpoint) {
    display: flex;
    flex-direction: column;
    height: 100vh;
    // min-height: 100vh;
  }
}

.app-header-panel {
  flex: 0 1 1;
  &-shopbutton {
    align-self: flex-end;
  }
}

.app-header-panel-shopbutton {
  width: 100%;
  padding-left: 1rem;
  display: none;
}
