//
// Navbar
// -----------------------------------------

.app-navbar {
  @extend .navbar;
  border-radius: 0;
  @media (min-width: $grid-float-breakpoint-max) {
      // position: absolute;
      // bottom: 0;
      // left: 0;
      // background: transparent;
  }
}

// Navbar content container
.app-navbar-content {
    padding-bottom: 1rem;
    border-bottom: 1px solid $gray-dark;
    .app-header-inverse & {
      border-color: $gray-lighter;
    }
    @media (min-width: $grid-float-breakpoint) {
      border-bottom: 0;
    }
}

//== Navbar header
//
//## Default display of global site navigation
//## Hidden on larger displays
.app-navbar-header {
  @include clearfix;
    display: flex;
    align-items: flex-end;
    padding: 0;
    background: transparent;
}

//** Navbar toggle text
.app-navbar-header-title {
    flex: 0 0 50%;
}

//== Brand info
//
//## Includes logo svg
.app-navbar-brand {
  height: ($navbar-height * 1.5);
  padding-top: $navbar-padding-vertical;
  padding-left: $navbar-padding-horizontal;
  font-weight: 500;
  line-height: $line-height-computed;
  color: $text-color;
  @media (min-width: $grid-float-breakpoint) {
    padding: $navbar-padding-vertical $navbar-padding-horizontal;
  }
}


//** Icon bar navigation toggle
.app-navbar-header-toggle {
  flex: 0 0 25%;
  background: $app-secondary;
  min-height: $navbar-height;
  padding-top: $navbar-padding-vertical;
  text-align: center;
}

// Navbar toggle button visible on small displays
.app-navbar-toggle {
  position: relative;
  width: 50px;
  border-color: transparent;
  background: transparent;
  text-align: right;
  &:hover,
  &:focus {
    background: transparent;
    border-color: transparent;
  }
  .icon-bar {
    background-color: $text-color;
    .app-header-inverse & {
      background-color: $gray-lighter;
    }
  }
  // Bars
  .icon-bar {
    display: block;
    width: 44px;
    height: 2px;
    border-radius: 2px;
  }
  .icon-bar + .icon-bar {
    margin-top: 10px;
  }
    @media (min-width: $grid-float-breakpoint) {
        display: none;
    }
}

//** Section marker
//** Enhance hamburger icon menu by providing a clickable
//** section info link
.app-navbar-section {
  flex: 0 0 25%;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: $gray-dark;
  .app-header-inverse & {
    color: $gray-lighter;
  }
}

.app-navbar-collapse {
  border-top: 1px solid $gray-dark;
  padding-left: 0;
  padding-right: 0;
  @media (min-width: $grid-float-breakpoint) {
    border-top: none;
  }
}

// Unordered list main navigation
.app-navbar-nav {
  margin-bottom: 0;
  padding-left: 0; // Override default ul/ol
  list-style: none;
  @extend clearfix;
}

//== Navitems
//
//## Color coded based on parent inverse class
.app-navitem {
  width: 100%;
  padding-left: $navbar-padding-horizontal;
  border-bottom: 1px solid $gray-dark;
  .app-header-inverse & {
    border-color: $gray-lighter;
  }
  &:last-child {
    border-bottom: 0;
  }
  @media (min-width: $grid-float-breakpoint) {
    border-bottom: none;
  }
}

.app-navitem-tab {
    color: $text-color;
    background-color: $app-primary;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    transition: background-color 0.5s ease;
    .app-header-inverse & {
        color: $gray-lighter;
    }
    &:hover {
      color: darken($text-color, 6.5%);
      background-color: darken($app-primary, 6.5%);
      text-decoration: underline;
        .app-header-inverse & {
            color: darken($gray-lighter, 6.5%);
        }
    }
    > span {
      display: block;
      margin: 0 auto;
      @include navbar-vertical-align($line-height-computed);
    }
    @media (min-width: $grid-float-breakpoint-max) {
      height: 70px;
      min-height: 70px;
    }
    @include when-inside('.active') {
        border-bottom: 1px solid #fff;
    }

}

.app-navitem-beratung {
  @media (min-width: $grid-float-breakpoint-max) {
    margin-bottom: $line-height-computed * 3;
  }
}
