<!doctype html>
<html lang="de">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {% include head.html %}
  </head>
  <body class="app-fullscreen app-inverse section-room dim-in dim-in-4">
    <a href="#content" class="sr-only sr-only-focusable">Skip to main content</a>

    <aside class="app-aside">
        {% include sidebar-inverse.html %}
    </aside>
    <main class="app-content" role="main">
          {{ content }}
    </main>

    {% include javascript.html %}
    <div class="app-js-slot">
        {% include webfonts.html %}
    </div>
    </div>
  </body>
</html>
