<!doctype html>
<html lang="de">
<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {% include base/head.html %}
</head>
<body class="app-main app-main-inverse section-room userrole-anonymous dim-in dim-in-3">
<a href="#content" class="sr-only sr-only-focusable">Skip to main content</a>

<aside class="app-aside app-aside-inverse">
    {% include layout/sidebar-inverse.html %}
</aside>
<main class="app-content" role="main">
    {{ content }}
</main>

{% include base/javascript.html %}
<div class="app-js-slot">
    {% include base/webfonts.html %}
</div>
<div>
	{% include base/piwik.html %}
</div>
</body>
</html>
